[user]
	name = {{ laptop_git_user_name }}
	email = {{ laptop_git_user_email }}

[alias]
	fixup = "!COMMIT_HASH=$(git log --pretty=oneline | fzf --no-preview | awk '{print $1}'); git commit --fixup $COMMIT_HASH; GIT_SEQUENCE_EDITOR=: git rebase --autostash --autosquash -i $COMMIT_HASH^"

[core]
	excludesFile = ~/.gitignore
	pager = delta

[delta]
	dark = true
	hyperlinks = true
	hyperlinks-file-link-format = vscode://file/{path}:{line}
	line-numbers = true
	navigate = true
	side-by-side = true
	syntax-theme = Dracula

[diff]
	algorithm = histogram
	colorMoved = true

[fetch]
	prune = true

[help]
	autocorrect = immediate

[interactive]
	diffFilter = delta --color-only

[log]
	follow = true

[merge]
	conflictstyle = zdiff3

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rebase]
	autosquash = true
	updateRefs = true

[rerere]
	enabled = true
